*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
.titleBar{
    background-image: url('./Img/bg_6.jpg.webp');
    object-fit: cover;
    background-position:  center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}
.text{
 text-align: center;
}
.text>h1{
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 40px;
    font-style: normal;
    letter-spacing: 3px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
}
.text>p>b{
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 23.4px;
    text-transform: uppercase;
    cursor: pointer;
    padding-right: 10px;
}
.text>p{
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 23.4px;
    text-transform: uppercase;
}
.items {
    width: 80%;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 10%;
    padding-bottom: 30px;
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3, 1fr);/* Center items horizontally */
    gap: 30px; /* Space between items */
}

/* .item-one{ 
    flex: 1 1 calc(33.33% - 30px); 
    box-sizing: border-box; 
    border: 1px solid gray; 
    padding: 10px; 
    box-shadow: 2px 2px 12px 12px rgba(241, 239, 239, 0.5);
    max-width: 30%;
} */


.item-one{
    box-shadow: 2px 2px 12px 12px rgba(241, 239, 239, 0.5);
    padding-bottom: 30px;
}
.item-one>.item-image{
    max-width: 100%;
    height: auto;
}
.item-one>.item-image>img{
    width: 100%;
    height: auto;
}
.item-one>.details{
    width: 90%;
    margin: auto;
}
.item-one>.details>.title{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    text-align: left;
    line-height: 24px;
    padding-bottom: 5px;
    font-weight: 300;
}
.item-one>.details>.amount>.price{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 20px;
    font-style: normal;
}
.item-one>.details>.amount>.price>i{
    text-decoration: line-through;
    padding-right: 10px;
    color: rgba(37, 37, 37, 0.5);
}
.item-one>.details>.like>.plus>.cart{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 27px;
    padding-top: 5px;
    padding-bottom: 15px;
    font-weight: 300;
    font-style: normal;
}
.item-one>.details>.like>.plus{
    display: flex;
}
.bi-plus{
    margin-top: 8px;
}
.amount{
    display: flex;
    justify-content: space-between;
}
.like{
    display: flex;
    justify-content: space-between;
}
.bi-heart{
    margin-top: 10px;
}
.navContainer {
    /* ackground: transparent !important; */
    /* height: 20px; */
    /* padding: 5px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navWrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 20px;
}  
.navRight ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding-top: 10px;
}
.navRight ul li a {
    color: black;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 23.4px;
    text-transform: capitalize;
    cursor: pointer;
    padding-right: 10px;
}
.navWrapper>.navLeft>h5{
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 40px;
    font-style: normal;
    letter-spacing: 3px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
}
 /* FOOTER  */
.news {
    display: block;
}
  .newsLetterWrapper h3{
    text-transform: uppercase;
    font-family: "Roboto Condensed", Arial, sans-serif;
    letter-spacing: 6px;
}  
.newletter {
    height: 20em;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsLetterWrapper {
    align-items: center;
    justify-content: center;
}   
.emailBox {
    display: flex;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}  
.emailBox input {
    padding: 1.2em;
    width: 250px;
    border: 1px solid black;
    /* width: 15%; */
    /* color: black; */
}   
.emailBox button {
    background-color: black;
    color: white;
    border: none;
    width: 20%;
    padding: 1.3em;
    /* border-radius: 3px; */
} 
.emailBox input::placeholder {
    font-size: 16px;
    font-weight:lighter;
    color: black;
}  
.footerNavigate {
    /* height: 20em; */
    background-color: #F8F9FA;
}  
.footerNavigateWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    padding-top: 50px;
}  
.social-icons {
    display: flex;
    gap: 10px;
}  
.boutiqueLinks ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
.boutiqueLinks ul li a {
    color: #010039;
    text-decoration: none;
}  
.boutiqueLinks ul li {
    margin-bottom: 20px; 
}  
.boutiqueLinks ul li:last-child {
    margin-bottom: 0; 
}
.boutiqueAssist ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
.boutiqueAssist ul li a {
    color: #010039;
    text-decoration: none;
}  
.boutiqueAssist ul li {
    margin-bottom: 20px; 
}  
.boutiqueAssist ul li:last-child {
    margin-bottom: 0; 
}  
.enquires ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
.enquires ul li a {
    color: #010039;
    text-decoration: none;
}  
.enquires ul li {
    margin-bottom: 20px; 
}  
.enquires ul li:last-child {
    margin-bottom: 0; 
}
.warning {
    text-align: center;
    margin-top: 60px;
}

/* Contact Us */
.contact{
    background-image: url('./Img/bg_6.jpg.webp');
    object-fit: cover;
    background-position:  center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-location{
    background-color: #F6F6F6;
    opacity: 97%;
    height:110vh;
    padding:40px 0;
}
.contact-form{
   width:500px;
   height:70vh;
   background-color: white; 
   box-shadow: 10px 10px 10px 10px(rgba(0,0,0,0.3));
   padding: 45px 20px 0 20px;
}
input{
    width:450px;
    height: 6vh;
    padding-left: 6px;
}
::placeholder{
    color:black;
}
.messagebox{
    height: 20vh;
}
.cntbtn{
    width:200px;
    height: 60px;
    border-radius: 30px;
    background-color: #e199af;
    border: 2px solid #e199af;
    color: white;
    font-family: "Lato", sans-serif;
}
.cntbtn:hover{
    background-color: #fff;
    color:#e199af;
}
.contact-box{
    padding: 32px 15px ;
    width: 250px;
    height:14vh;
    background-color: #fff;
    box-shadow: 10px 10px 10px 10px(rgba(0,0,0,0.3));
}
.contact-boxes{
    display: flex;
    gap:60px;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width:320px) and (max-width:600px) {
    .contact-location{
        height:170vh;
        background-color: #F6F6F6;
        opacity: 97%;
        padding:40px 0;
        width: 100%;
    }
    .contact-boxes{
        justify-content: space-evenly;
    }
    .contact{
        width: 100%;
    }
}